.mainDiv {
    background: rgb(18, 23, 28);
    height: 7000px;
    color: rgba($color: #fff, $alpha: 0.9);

    li {
        list-style-type: none;
    }

    .searchDiv {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 5% 0;
        width: 85%;
        margin: auto;

        .form {
            width: 100%;
            margin: auto;
        }

        .searchInput {
            padding: 3%;
            width: 90%;
            background-color: rgb(23, 29, 35);
            border: none;
            font-size: 1.5em;
            border-radius: 3%;
            color: rgba($color: #fff, $alpha: 0.9);
        }

        .submitButton {
            padding: 2%;
            width: 20%;
            margin-left: 2%;
            font-size: 1.5em;
            background-color: rgb(87, 212, 249);
            border-radius: 3%;
            border: none;
        }
    }

    .queryResult {
        width: 85%;
        margin: 2% auto;
        border-bottom: 2px solid rgba(256, 256, 256, 0.1);

    }

    .albumTitle {
        width: 85%;
        margin: 2% auto;
        color: rgb(109, 250, 251);
        font-size: 2.5em;
        font-weight: 300;
    }


    .albumsList {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 85%;
        margin: auto;

        .albumCarousel {
            width: 100%;
            margin: auto;
        }
    }

    .albumSpecific {
        width: 80%;
        margin: 10% auto;
        position: relative;

        .albumSpecific_Details {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            position: absolute;
            z-index: 99;
            width: 80%;

            .albumName_Artist {
                display: flex;
                flex-direction: column;
                width: 50%;
                align-items: flex-start;
            }


            h2 {
                color: rgb(109, 250, 251);
                margin: 2% 5%;
            }

            h3 {
                margin: 2% 5%;
            }

        }

        .albumSpecific_tableContainer {
            background-color: rgba(256, 256, 256, 0.1);
            width: 80%;
            margin: auto;
            top: 100px;
            position: absolute;
            padding-left: 17%;

            .albumSpecific_tableContainer_tableHeader {
                background: rgb(18, 23, 28);
                display: flex;
                flex-direction: row;
                align-content: center;
                justify-content: space-between;
                padding: 2% 10% 2% 10%;
                width: 80%;
            }

            .albumSpecific_tableContainer_trackTable {
                border-bottom: 1px solid black;
                padding-left: 5%;

                .trackContainer {
                    display: flex;

                    li {
                        font-size: 1.2em;
                        width: 80%;
                        padding: 2% 10% 2% 1%;
                    }


                }

                .albumSpecific_tableContainer_songTitle {
                    margin-right: 20%;
                }

                .albumSpecific_tableContainer_trackDuration {
                    text-align: right;

                }


            }


        }

    }
}