.mainDiv {
    background: rgb(18, 23, 28);
    height: 300vh;
    color: rgba($color: #fff, $alpha: 0.9);



    li {
        list-style-type: none;
        text-align: left;
    }



    .searchDiv {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 5% 0;
        width: 85%;
        margin: auto;

        .form {
            width: 100%;
            margin: auto;
        }

        .searchInput {
            padding: 3%;
            width: 90%;
            background-color: rgb(23, 29, 35);
            border: none;
            font-size: 1.5em;
            border-radius: 3%;
            color: rgba($color: #fff, $alpha: 0.9);
        }

        .searchInput:focus-visible {
            border: none;
        }

        .submitButton {
            padding: 2%;
            width: 20%;
            margin-left: 2%;
            font-size: 1.5em;
            background-color: rgb(87, 212, 249);
            border-radius: 3%;
            border: none;
        }
    }

    .queryResult {
        width: 85%;
        margin: 2% auto;
        border-bottom: 2px solid rgba(256, 256, 256, 0.1);

    }

    .albumCarousel {
        width: 100%;
        margin: auto;
    }

    .albumTitle {
        width: 85%;
        margin: 2% auto;
    }

    .albumsList {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 85%;
        margin: auto;
    }

    .albumSpecific {
        width: 80%;
        margin: 10% auto;

        .specificDetails {
            display: flex;
            flex-direction: row;
            align-items: flex-start;

            h2 {
                margin: 2% 5%;
            }

        }

        .tableHeader {
            display: flex;
            flex-direction: row;
            align-content: center;
            justify-content: space-between;
        }

        .test {
            display: flex;
            flex-direction: row;
            // align-content: center;
            // justify-content: space-evenly;
        }

        .name {
            display: flex;
            justify-content: center;
            text-align: center;
        }
    }
}